<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id % 2 === 0 ? '1' : '0'}"
        fragment="loading"
        style="cursor: pointer"
        class="list-group-item"
        *ngFor="let server of servers"
        (click)="selectServer(server)"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--<a routerLink="../users">Go to Users</a>
    <button class="btn btn-primary" (click)="onRealod()">Reaload Page</button>
    <app-edit-server [server]="selectedServer" [serverName]="selectedServer.name" [serverStatus]="selectedServer.status"></app-edit-server>-->
    <router-outlet></router-outlet>
  </div>
</div>


