<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        style="cursor: pointer"
        class="list-group-item"
        *ngFor="let server of servers"
        (click)="selectServer(server)"
        >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a routerLink="../users">Go to Users</a>
    <button class="btn btn-primary" (click)="onRealod()">Reaload Page</button>
    <app-edit-server [server]="selectedServer" [serverName]="selectedServer.name" [serverStatus]="selectedServer.status"></app-edit-server>
    <hr>
    <app-server [theServer]="selectedServer"></app-server>
  </div>
</div>

